<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">

    <title>Covid-19 Tracker</title>
</head>

<body>
    <nav class="bg-sky-500">
        <div class="container mx-auto p-4 flex justify-between items-center text-white">
            <div class="logo"><a href="/"><img class="h-12" src="/img/logo.png" alt="Covid-19"></a></div>
            <ul class="flex">
                <li class="pl-5 "><a href="">Home</a> </li>
                <li class="pl-5"><a href="">About</a> </li>
                <li class="pl-5"><a href="">Symptoms</a> </li>
                <li class="pl-5"><a href="">Contact</a></li>
            </ul>
        </div>
    </nav>
    <%- body %>
        <footer>Footer</footer>
        <script src="/js/test.js"></script>
</body>

</html>